.resume-content-page {
  font-family: Montserrat, Times, serif;
  font-size: 12pt;
  white-space: pre-wrap;
  padding: 20mm;
  width: 210mm;
  margin: 0 0 0 570px;
  text-align: justify;
  background-color: #fff;
  display: table;
  table-layout: fixed;
}

.main-container h1, .main-container h2 {
  text-align: center;
  color: #FFFFFF;
}

.print-button {
  right: 0;
  margin-right: 2%;
  position: fixed;
}

.print-button button {
  height: 100px;
  width: 200px;
  font-size: 2rem;
}

.toggle-menu {
  left: 0;
  margin-left: 2%;
  position: fixed;
  width: 500px;
  padding: 10px;
  background-color: #17a2b8;
  max-height: 550px;
  overflow-y: auto;
  opacity: 0.9;
}

.toggle-menu label {
  font-weight: bold;
  float: right;
}

.toggle-menu li {
  background-color: #3b9faf;
}

.toggle-menu .checkbox input {
  zoom: 1.5;
  margin-top: 5px;
}

.toggle-menu-button button {
  font-size: 1.5rem;
}

.toggle-menu-button {
  position: fixed;
  margin-top: -50px;
  left: 0;
  margin-left: 2%;
}
