html {
  font-size: 80%;
}

body {
  background-color: #18bc9c
}

h2 {
  font-size: 20pt;
}
h1 {
  font-size: 30pt;
}
p {
  font-size: 10pt;
}

a {
  color: #8dc6ff
}

a:hover {
  color: #1301ff
}

.logo {
  width: 211px;
  margin: -38px
}

li {
  color: #000000;
}
