.a4-container {
  background-color: #ffffff;
  width: 21cm;
  min-height: 29.7cm;

  &--align-center {
    margin: 0 auto;
  }

  &--align-left {
    margin-left: calc(50% - 11.5cm - 175px);
  }

  @media print {
    visibility: visible !important;

    &--align-left {
      margin: auto !important;
    }

    * {
      visibility: visible !important;

      div {
        page-break-inside: avoid;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
