{
    "presets": [
        [
            "babel-preset-gatsby",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/plugin-proposal-function-bind",
        "@babel/plugin-proposal-private-methods",
        "@babel/plugin-transform-async-to-generator"
    ]
}
