.drop-zone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;

  &--active {
    border-color: #2196f3;
  }

  &--accept {
    border-color: #00e676;
  }

  &--reject {
    border-color: #ff1744;
  }
}
