.resume-drawer-items {
  min-width: 300px;
  max-width: 350px;
  padding: 5px 20px;

  ul {
    margin: 0;
    list-style: none;
    padding-left: 25px;
  }

  li {
    &::before {
      content: '\2192';
      position: absolute;
      margin-left: -20px;
    }
  }

  &--item {
    padding: 10px 0;
    border-top: 1px solid #ddd;

    &:first-child {
      border-top: none;
    }
  }
}
