@font-face {
    font-family: 'Coolvetica';
    src: url('coolvetica-rg.ttf') format('truetype'),
    url('coolvetica-rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
