.main-container section{
  background-color: rgba(44, 62, 80, 0.51);
  margin-top: 15px;
  padding: 20px;
}
.main-container {
  margin: 0 auto;
  width: 1024px;
  color: #FFFFFF;
  text-align: justify;
}
.main-container p {
  font-size: 15pt;
}
.main-container h2 {
  font-weight: bold;
  text-align: center;
}
