#resume-content {
    font-family: Montserrat,Times,serif;
    font-size: 12pt;
    white-space: pre-wrap;
    padding: 20mm;
    width: 210mm;
    margin: 0 auto;
    text-align: justify;
    background-color: #fff;
    display: table;
    table-layout: fixed;
}

#resume-content div{
    margin-bottom: 30px;
}

.resume-job-title-company{
    font-weight: 600;
}

.resume-job-achievements:before, .resume-education-achievements:before{
    content: '⤑';
    margin-right: 10px
}

.resume-local-time {
    font-style: italic;
}

#resume-content .resume-job-title-company, #resume-content .resume-local-time{
    display: inline-block;
}

#resume-content .resume-job-title-company:after{
    content: ' - ';
}

#resume-content ul{
    margin-bottom: 25px;
}

#resume-content p{
    font-size: 12pt;
    color: #000000;
    margin-bottom: 5px;
}

#resume-content h4{
    font-size: 11pt;
    color: rgb(153, 153, 153);
}

#resume-contact {
    float: right;
}

#resume-full-name{
    color: #8e7cc3;
    font-weight: 600;
    font-size: 18pt;
}

.resume-side-job a{
    font-weight: 600;
    color: #000000;
    text-decoration: underline;
}

#education li > p{
    font-weight: 600;
}