#resume-content {
    font-family: Montserrat,Times,serif;
    font-size: 12pt;
    white-space: pre-wrap;
    padding: 20mm;
    width: 210mm;
    margin: 0 auto;
    text-align: justify;
    background-color: #fff;
    display: table;
    table-layout: fixed;
}

#print-button {
    right: 0;
    margin-right: 2%;
    position: fixed;
}

#print-button button {
    height: 50px;
    width: 100px;
}

#toggle-menu {
    left: 0;
    margin-left: 2%;
    position: fixed;
    width: 230px;
}