#resume-content {
    font-family: Montserrat,Times,serif;
    font-size: 12pt;
    white-space: pre-wrap;
    padding: 20mm;
    width: 210mm;
    margin: 0 auto;
    text-align: justify;
    background-color: #fff;
    display: table;
    table-layout: fixed;
}